node_modules/
dist/
build/
.env
.DS_Store
*.log

# Backend
backend/.env

# Frontend
frontend/dist/

# Electron
electron/dist/
out/

# Extension
extension/libsodium-wrappers.js
extension/*.png

# Database
*.db
*.sqlite
